body {
    padding: 0;
    background-color: azure;
}

.dibujando {
    color: black;
    font-size: 30px;
    margin-left: 30%;
}

@keyframes offset{
    100%{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-it {
    100%{
        fill: #6fbc6d;
    }
}

/* ------------------- SVG STYLES ---------------------*/
svg {
    display: block;
    margin: 2em auto 0;
    width: 40%;
}

.logo {
    stroke: #6FBC6D;
    stroke-width: 2;
    stroke-dasharray: 810; /* se puede obtener con js */
    stroke-dashoffset: 810;
    
    animation: offset 5s linear forwards, fill-it .8s 5s forwards;
}



